.about{
    padding-top: 80px;
}
.title-search{
    display: flex;
    flex-direction: column;
    align-items: center;display: flex;
    flex-direction: column;
    align-items: center;
}
.about-title{
    font-family: BungeeHairline;
    font-weight: 800;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.about-search input{
    border-radius: 2em;
    padding: 10px;
    width: 20vw;
    border: none;
}

.about-img img{
    border-radius: 50%;
    height: 100px;
    width: 150px;
    object-fit: cover;
}

.about-information{
    color: white;
}

.about-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-item{
    background-image: url(../../media/Vector7.png);
    background-repeat: round;
    background-size: contain;
    background: linear-gradient(90deg, #0a1d26 0%, #4c3951 81.92%);
    /* clip-path: polygon(0% 0%, 80% 0%, 100% 29%, 100% 100%, 20% 100%, 0% 80%); */
    clip-path: polygon(0% 0%, 83% 0%, 100% 25%, 100% 100%, 18% 100%, 0% 76%);
    flex-basis: 50%;
    max-width: 40%;
    height: 40vh;
    padding: 20px;
    margin: 20px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.about-img{
    margin-right: 25px;
}
.about-information div{
    display: flex;
}

.about-information h5{
    font-family: BungeeHairline;
    font-weight: 600;
}

.about-information p{
    font-family: "Lato";
}
