.satellite{
    padding-top: 80px;
}
.title-search{
    display: flex;
    flex-direction: column;
    align-items: center;display: flex;
    flex-direction: column;
    align-items: center;
}
.satellite-title{
    font-family: BungeeHairline;
    font-weight: 800;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.satellite-search input{
    border-radius: 2em;
    padding: 10px;
    width: 20vw;
    border: none;
}

.satellite-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.satellite-item{
    flex-basis: 50%;
    max-width: 40%;
    height: 75vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.satellite-item-date{
    color: white;
    font-size: 18px;
}

.satellite-item-name{
    color: white;
    font-size: 25px;
    color: white;
    font-size: 25px;
    font-family: 'BungeeRegular';
    font-weight: 100;
    margin-right: 5px;
}

.satellite-item-button button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 11px;
    display: flex;
    font-family: 'BungeeHairline';
    font-weight: 700;
    align-items: center;
}


@media (max-width: 1200px){
    .satellite-search input{
        width: 30vw;
    }
    .satellite-item{
        height: 65vh;
    }
    .satellite-item-date{
        font-size: 15px;
    }
    .satellite-item-name{
        font-size: 20px;
    }
    .satellite-item-button button{
        height: 45px;
    }
    .satellite-item-button button span{
        padding-top: 6px;
    }
}


@media (max-width: 950px){
    .satellite-items{
        justify-content: space-around;
    }
    .satellite-item {
        height: 55vh;
    }
    .satellite-item-button button {
        height: 40px;
    }
    .satellite-item-date {
        font-size: 13px;
    }
    .satellite-item-name {
        font-size: 15px;
    }
    button span {
        padding-top: 2px;
    }
    .satellite-item-button button span {
        padding-top: 3px;
    }

}


@media (max-width: 769px){
    .satellite-item{
        flex-basis: 100%;
        max-width: 100%;
    }
    .satellite-item{
        display: flex;
        align-items: center;
    }
    .satellite-item {
        height: 90vh;
    }
    .satellite-search input {
        width: 35vw;
        padding: 5px;
    }
    .satellite-item-date {
        font-size: 15px;
    }
}


@media (max-width: 480px){

}

