*{
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}
html{
    width: 100vw;
    overflow-x: hidden;
    --purple:#93709B;
    --blue:#236F93;
}
body{
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}
body:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
.nasaContainer{
    max-width: 1480px;
    margin: auto;
}
.linearText{
    font-family: BungeeRegular;
    font-weight: 400;
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple)  81.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@font-face {
    font-family: BungeeHairline;
    src: url("../fonts/BungeeHairline-Regular.ttf");
}
@font-face {
    font-family: BungeeRegular;
    src: url("../fonts/Bungee-Regular.ttf");
}
@font-face {
    font-family: LatoBlack;
    src: url("../fonts/Lato-Black.ttf");
}
@font-face {
    font-family: LatoBold;
    src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
    font-family: LatoLight;
    src: url("../fonts/Lato-Light.ttf");
}@font-face {
    font-family: LatoRegular;
    src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: LatoThin;
    src: url("../fonts/Lato-Thin.ttf");
}
@keyframes float {
    50% {
        transform: translate3d(-20px,-20px,-20px) rotate3d(4,2,2,20deg);
    }
    100% {
        transform: translate3d(20px,20px,20px) rotate3d(4,2,2,20deg);
    }
}
@keyframes rotating {
    0% {
        left: 150px;
        bottom: 150px;
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100% {
        left: -90px;
        bottom: -90px;
        transform: scale(0);
    }
}
@keyframes astros {
    0% {
        top: 40px;
    }
    100% {
        top: 100px;
    }
}
header{
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 2;
    display: flex;
    align-items: center;
}
header .header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header .header-img img{
    max-height: 45px;
}
header ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    align-items: center;
    height: 100%;
}
header ul li{
    position: relative;
    transition: 400ms all;
    display: flex;
    justify-content: center;
}
header ul li a{
    display: flex;
    color: white;
    justify-content: center;
    letter-spacing: 3px;
    position: relative;
    font-weight: 900;
    transition: 400ms all;
    font-family: BungeeHairline;
}
header ul li:before{
    content: "";
    position: absolute;
    height: 1px;
    width: 60%;
    background-color: white;
    bottom: -15px;
    opacity: 0;
    visibility: hidden;
    transition: 400ms all;
}
header ul li:hover:before {
    bottom: -5px;
    opacity: 1;
    visibility: visible;
}
header ul li:hover a {
    letter-spacing: 4px;
    color: white;
}
header ul li.active:before {
    bottom: -5px;
    opacity: 1;
    visibility: visible;
}
.entrance{
    position: relative;
    padding-top: 80px;
    height: 100vh;
}
.entrance>.entrance-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    width: 100%;
}
.entrance>.entrance-img>div{
    background: linear-gradient(180deg, black 20%, #ffffff00 91%);
    height: 150px;
    width: 100%;
}
.entrance>.entrance-img img{
    width: 100%;
    height: 100%;
    position: relative;
}
.entrance>.entrance-img:before{
    content: "";
    position: absolute;
    z-index: 55;
    width: 100%;
    height: calc(100% - 150px);
    background-color: rgba(0, 0, 0, 0.5);
}
.entrance>img:before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    width: 100%;
    background-image: url("../../media/entrance.png");
}
.entrance .entrance-inner{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.entrance .entrance-inner>div{
    width: 45%;
}
.entrance .entrance-inner .entrance-left{
    display: flex;
    width:30%;
    gap: 30px;
    flex-direction: column;
}
.entrance .entrance-inner .entrance-left h3{
    font-family: BungeeRegular;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
}
.entrance .entrance-inner .entrance-left p{
    font-family: LatoLight;
    color: white;
    max-width: 350px;
    font-size: 20px;
    line-height: 24px;
}

.entrance .entrance-inner .entrance-right img{
    width: 100%;
    animation: float 6s infinite ease-in-out alternate;
}
.datas{
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: space-around;
}
.datas .data{
    position: relative;
    width: 325px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.datas .data.big{
    width: 380px;
    height: 255px;
}
.datas .data:before{
    content: "";
    position: absolute;
    background-image: url("../../media/border1.png");
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.datas .data.big:before{
    background-image: url("../../media/border2.png");
}
.datas .data h3{
    font-family: BungeeRegular;
    color: white;
    font-size: 32px;
}
.datas .data.big h3{
    font-size: 38px;
}
.future-satellites{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px auto;
}
.future-satellites>h1{
    font-family: BungeeHairline;
    font-weight: 800;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}
.future-satellites .future-satellites-top{
    display: flex;
    max-width: 1080px;
    margin: auto;
    width: 100%;
}
.future-satellites .future-satellites-left{
    position: relative;
    height: 350px;
    width: 350px;
}
.future-satellites .future-satellites-left .future-satellites-earth{
    width: 100%;
}
.future-satellites .future-satellites-left .future-satellites-earth:before{
    content: "";
    position: absolute;
    width: 314px;
    height: 314px;
    border-radius: 50%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    top: 17px;
    z-index: 1;
    left: 17px;
}
.future-satellites .future-satellites-left .future-satellites-earth img{
    width: 350px;
    position: absolute;
}
.future-satellites .future-satellites-left .satellites{
    width: 500px;
    position: relative;
    height: 100%;
}
.future-satellites .future-satellites-left .satellites .satellite{
    width: 65%;
    display: flex;
    justify-content: center;
    position: absolute;
    transition: 400ms all;
    opacity: 0;
    visibility: hidden;
    z-index: 55;
    left: 150px;
    bottom: 150px;
    transform: scale(0);
}
.future-satellites .future-satellites-left .satellites .satellite.active{
    opacity: 1;
    visibility: visible;
    animation: rotating 15s infinite ease-in-out alternate;
}
.future-satellites .future-satellites-left .satellites .satellite img{
    width: 100%;
    object-fit: contain;
    transition: 400ms all;
}
.future-satellites .future-satellites-right{
    width: calc(100% - 350px);
    padding-left: 50px;
    position: relative;
}
.future-satellites .future-satellites-right .satellite-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 300vw;
    transition: 400ms all;
}
.future-satellites .future-satellites-right .satellite-text.active{
    left: 0;
}
.future-satellites .future-satellites-right .satellite-text h4{
    font-size: 30px;
    margin-bottom: 20px;
}
.future-satellites .future-satellites-right .satellite-text div{
    font-family: 'BungeeHairline';
    color: white;
}
.future-satellites .future-satellites-right .satellite-text div p{
    font-size: 18px;
    font-weight: 700;
}
.future-satellites .future-satellites-right .satellite-text div p b{
    font-family: 'BungeeRegular';
    font-weight: 100;
    margin-right: 5px;
}
.future-satellites .other-satellites-slider{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: calc((100vw / 8) + 80px);
    padding-top: 50px;
}
.future-satellites .other-satellites-slider>i{
    position: absolute;
    font-weight: 300;
    width: 40px;
    height: 40px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 55;
    border-radius: 50%;
    background: white;
    color: black;
    top: 0px;
    cursor: pointer;
    transition: 400ms all;
}
.future-satellites .other-satellites-slider>i:hover {
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 81.92%);
    color: white;
}
.future-satellites .other-satellites-slider>i.fa-arrow-right-long{
    right: 0;
}
.future-satellites .other-satellites-slider .other-satellites-slides{
    position: relative;
}
.future-satellites .other-satellites-slider .other-satellites-slides .other-satellites{
    display: flex;
    width: max-content;
    position: absolute;
    left: 0;
    transition: 400ms all;
}
.future-satellites .other-satellites-slider .other-satellites-slides .other-satellite{
    width: calc(100vw / 8);
    height: calc(100vw / 8);
    margin: 10px;
    position: relative;
    cursor: pointer;
}
.future-satellites .other-satellites-slider .other-satellites-slides .other-satellites img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.future-satellites .other-satellites-slider .other-satellites-slides .other-satellites h4{
    color: white;
    font-family: 'BungeeHairline';
    font-weight: 700;
    font-size: 16px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #00000090;
    transition: 400ms all;
    opacity: 0;
    visibility: hidden;
}
.future-satellites .other-satellites-slider .other-satellites-slides .other-satellites .other-satellite:hover  h4{
    opacity: 1;
    visibility: visible;
}
@media only screen and (max-width: 1500px) {
    .nasaContainer{
        width: 95% !important;
    }
    .future-satellites .other-satellites-slider{
        height: calc((100vw / 7) + 80px);
    }
    .future-satellites .other-satellites-slider .other-satellites-slides .other-satellite{
        width: calc(100vw / 7);
        height: calc(100vw / 7);
        padding: 10px;
        position: relative;
        cursor: pointer;
    }
}
.general-statistics{
    padding-left: calc((100% - 1480px) / 2 );
}
.general-statistics .general-statistics-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.general-statistics .general-statistics-inner .general-statistics-left{
    color: white;
}
.general-statistics .general-statistics-inner .general-statistics-left h3{
    font-family: 'BungeeHairline';
    font-weight: 700;
}
.general-statistics .general-statistics-inner .general-statistics-left p{
    font-family: 'LatoLight';
}
.general-statistics .general-statistics-inner .general-statistics-left h2{
    font-family: 'BungeeRegular';
}
.general-statistics .general-statistics-inner .general-statistics-left .statistics-inner{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.general-statistics .general-statistics-inner .general-statistics-left .statistics-inner i{
    background: var(--blue);
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.general-statistics .general-statistics-inner .general-statistics-left .statistics-inner i.fa-flag{
    background: var(--purple);
}
.general-statistics .general-statistics-inner .general-statistics-left .statistics-inner div h4{
    margin: 0;
    font-family: 'BungeeRegular';
    font-size: 18px;
}
.general-statistics .general-statistics-inner .general-statistics-right{
    width: 60%;
    position: relative;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map{
    position: absolute;
    width: 47.5%;
    height: 55%;
    top: 20%;
    left: 23%;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .launch-pad-on-map-inner{
    width: 100%;
    height: 100%;
    position: relative;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .launch-pad{
    width: 20px;
    position: absolute;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .us-launch .launch-pad{
    top: 40%;
    left: 45%;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .fr-launch .launch-pad{
    right: 25%;
    top: 22%;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .jp-launch .launch-pad{
    bottom: 39%;
    right: 34%;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .rus-launch .launch-pad{
    left: 30%;
    top: 17%;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .launch-pad .fa-circle-dot{
    color: rgba(28, 219, 59, 1);
    font-size: 25px;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .launch-pad .fa-rocket-launch{
    background-color: black;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 20px;
    margin-left: -25px;
    transition: 400ms all;
    cursor: pointer;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .launch-icos{
    transition: 400ms all;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .us-launch .launch-pad{
    color: rgba(223, 27, 27, 1);
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .fr-launch .launch-pad{
    color: rgba(71, 242, 201, 1);
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .jp-launch .launch-pad{
    color: rgba(255, 246, 212, 1);
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .rus-launch .launch-pad{
    color: rgba(207, 140, 248, 1);
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .us-launch .fa-rocket-launch:hover{
    background-color: rgba(223, 27, 27, 1);
    color: black;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .fr-launch .fa-rocket-launch:hover{
    background-color: rgba(71, 242, 201, 1);
    color: black;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .jp-launch .fa-rocket-launch:hover{
    background-color: rgba(255, 246, 212, 1);
    color: black;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .rus-launch .fa-rocket-launch:hover{
    background-color: rgba(207, 140, 248, 1);
    color: black;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .launch-pad-detail{
    position: absolute;
    display: flex;
    align-items: flex-start;
    background: black;
    border-radius: 10px;
    gap: 1vw;
    padding: 1vw;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: 400ms all;
    z-index: 5555;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .us-launch .launch-pad-detail{
    top: -5%;
    left: -15px;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .us-launch:hover .launch-pad-detail{
    top: 0%;
    opacity: 1;
    visibility: visible;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .fr-launch .launch-pad-detail{
    top: -25%;
    right: 14%;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .fr-launch:hover .launch-pad-detail{
    top: -20%;
    opacity: 1;
    visibility: visible;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .rus-launch .launch-pad-detail{
    top: -27%;
    left: 11%;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .rus-launch:hover .launch-pad-detail{
    top: -22%;
    opacity: 1;
    visibility: visible;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .jp-launch .launch-pad-detail{
    top: 0%;
    left: 43%;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .jp-launch:hover .launch-pad-detail{
    top: 5%;
    opacity: 1;
    visibility: visible;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .launch-pad-detail div{
    display: flex;
    flex-direction: column;
    width: 7vw;
    gap: 12px;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .launch-pad-detail>i{
    position: absolute;
    left: calc(50%);
    transform: rotate(90deg);
    color: black;
    bottom: -20px;
    font-size: 25px;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .launch-pad-detail div img{
    width: 7vw;
    height: 5vw;
    display: block;
    object-fit: cover;
}
.general-statistics .general-statistics-inner .general-statistics-right .launch-pad-on-map .launch-pad-detail div h3{
    font-size: 10px;
    font-family: 'BungeeHairline';
    color: white;
    font-weight: 700;
    width: 100%;
}
.astro-planets{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 120px auto;
}
.astro-planets>img{
    animation: astros 6s infinite ease-in-out alternate;
    position: absolute;
}
.astro-planets>div{
    width: 50%;
}
.astro-planets .astro-planets-left div:first-child{
    display: flex;
    padding-left: 25%;
    margin-bottom: 70px;
    width: 90%;
}
.astro-planets .astro-planets-left div:first-child img{

}
.astro-planets .astro-planets-left div:last-child{
    display: flex;
    flex-direction: column;
    padding-right: 60%;
    margin-top: 100px;
}
.astro-planets .astro-planets-left div:last-child img{
    width: 40%;
    order: 1;
}
.astro-planets .astro-planets-right div:first-child{
    display: flex;
    gap: 20px;
    width: 65%;
    align-items: flex-end;
    margin-left: 35%;
}
.astro-planets .astro-planets-right div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-left: 56%;
    margin-top: 100px;
    gap: 40px;
}
.astro-planets .astro-planets-right div:last-child{
    display: flex;
    flex-direction: column;
    margin-left: 42%;
    margin-top: 100px;
    gap: 40px;
}
.astro-planets div div img{
    max-width: 175px;
}
.astro-planets div div p{
    color: white;
    font-family: 'LatoLight';
    font-size: 15px;
}
footer{
    background: rgba(12, 15, 21, 1);
}
.footer-inner{
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
    align-items: center;
}
footer .footer-links ul{
    display: flex;
    gap: 35px;
    font-family: 'LatoLight';
}
footer .footer-links ul li a {
    color: white;
}
footer .footer-links ul li a:hover{

}
footer .footer-social {

}
footer .footer-social ul{
    display: flex;
    gap: 15px
}
footer .footer-social ul li a i{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: center;
    color: rgba(12, 15, 21, 1);;
}
.copyright{
    background: black;
}
.copyright p{
    font-family: "Lato Light";
    color: white;
    margin: 15px 0;
}
