@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
html::-webkit-scrollbar{
    width: 5px;
}
html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background: #111111;
}
h1,h2,h3,h4,h5,h6,a,p{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}
.btn{
    background-color: gray;
    color: white !important;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 400ms all;
    box-shadow: 0 0 7px 1px #00000042;
    font-weight: 100;
    font-family: 'League Spartan', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    height: max-content;
}
.btn:hover{
    background-color: #6c6c6c;
}
.btn:focus{
    box-shadow: 0 0 0 5px #c7c5c5;
}

.btn.orange{
    background-color: #ff5722;
}
.btn.orange:hover{
    background-color: #ed5424;
}
.btn.orange:focus{
    box-shadow: 0 0 0 5px #ffcab9;
}

.btn.blue{
    background-color: #03a9f4;
}
.btn.blue:hover{
    background-color: #028fce;
}
.btn.blue:focus{
    box-shadow: 0 0 0 5px #b9e0ff;
}

.btn.darkBlue{
    background-color: #3f51b5;
}
.btn.darkBlue:hover{
    background-color: #32408e;
}
.btn.darkBlue:focus{
    box-shadow: 0 0 0 5px #b9e0ff;
}

.btn.lightBlue{
    background-color: #2196f3;
}
.btn.lightBlue:hover{
    background-color: #1e7dc8;
}
.btn.lightBlue:focus{
    box-shadow: 0 0 0 5px #b9e0ff;
}

.btn.red{
    background-color: #ef3333;
}
.btn.red:hover{
    background-color: #d02f2f;
}
.btn.red:focus{
    box-shadow: 0 0 0 5px #ffb9b9;
}
.btn.green{
    background-color: #2fd056;
}
.btn.green:hover{
    background-color: #2db84f;
}
.btn.green:focus{
    box-shadow: 0 0 0 5px #aaffae;
}
.btn.yellow{
    background-color: #ffeb3b;
}
.btn.yellow:hover{
    background-color: #d6c632;
}
.btn.yellow:focus{
    box-shadow: 0 0 0 5px #fff6a6;
}
.btn.black{
    background-color: #282828;
}
.btn.black:hover{
    background-color: #1e1e1e;
}
.btn.black:focus{
    box-shadow: 0 0 0 5px #bcbcbc;
}
.btn.white{
    background-color: #f1f1f1;
    color: black;
}
.btn.white:hover{
    background-color: white;
}
.btn.white:focus{
    box-shadow: 0 0 0 5px #eaeaea;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    height: 10vh;
    background-color: white;
    box-shadow: 12px 10px 20px 3px #0000000d;
    display: flex;
    width: calc(100% - 320px);
    z-index: 5;
    transition: 600ms all;
}
header.responsive{
    width: calc(100% - 82.5px);
}
header .headerLogo{
    height: 100%;
    width: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: 7px -7px 11px whitesmoke;
}
header .headerLogo a{
    height: 80%;
    display: flex;
    justify-content: center;
}
header .headerLogo img{
    height: 100%;
}
header .headerLogo div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sidebar.responsive .headerLogo div{
    display: none;
}
.headerLogo div h2{
    margin: 0;
    color: white;
    font-size: 25px;
}
header .headerRight{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header .headerRight h2{
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-size: 30px;
}
header .headerRight h2 i{
    cursor: pointer;
    margin-right: 30px;
}
header .headerRight h2 strong{
    font-weight: 700;
}
header .headerRight div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
header .headerRight div>a>i{
    margin-left: 5px;
}
#userMenu{
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    outline: 1px solid white;
    border: 2px solid #111111;
}
#userMenu img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#userMenu i{
    font-size: 22px;
}
header .headerRight div>ul{
    padding-left: 20px;
    border-top-right-radius: 0;
}

header .headerRight div>ul>li>ul{
    right: 0;
    position: absolute;
    background-color:#111111;
    border-radius: 10px;
    border-top-right-radius: 0;
    margin-top: 100px;
    padding: 0;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: 500ms all;
    right: 17px;
}
header .headerRight div>ul>li>ul i{
    position: absolute;
    color: #111111;
    right: 0;
    top: -17px;
    font-size: 25px;
}
header .headerRight div>ul>li>ul li{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}
header .headerRight div>ul>li>ul li:nth-child(2){
    padding-top: 20px;
}

header .headerRight div>ul>li>ul li:last-child{
    padding-bottom: 15px;
    border-top: 1px solid white;
}
header .headerRight div>ul>li>ul a{
    color: white !important;
}
header .headerRight div>ul>li>ul.active{
    opacity: 1;
    visibility: visible;
    margin-top: 20px;
}
#sidebar {
    background-color: #111111;
    position: fixed;
    height: 100vh;
    z-index: 10;
    top: 0;
    width: 320px;
    box-shadow: 19px 20px 20px 3px #00000008;
    transition: 600ms all;
}
#sidebar.responsive{
    width: 82.5px;
}
#sidebar aside {
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
    color: white;
    font-size: 1em;
    font-weight: 600;
    transition: 300ms height;
}
.headerLogo{
    width: 100%;
    height: 10vh;
    margin: auto;
}

.headerLogo a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    padding: 10px 30px;
}

.headerLogo a img{
    height: 8vh;
    object-fit: contain;
    margin-right: 15px;
    border-radius: 50%;
    width: 8vh;
}
.headerLogo i{
    left: 30px;
    position: absolute;
    font-size: 4vh;
    top: 25px;
    color: white;
    cursor: pointer;
    display: none;
}
#sidebar.responsive .headerLogo a img{
    height: 70%;
}
#sidebar.responsive .headerLogo a img{
    margin-right: 0;
}
#sidebar aside .menu-title {
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.44);
    display: flex;
    align-items: center;
    gap: 17px;
}
#sidebar aside .menu-title div.menu-bar {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#sidebar aside .menu-title div.menu-bar span {
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #111111;
    position: relative;
}
#sidebar aside .menu-title div.menu-bar span::before,  #sidebar aside .menu-title div.menu-bar span::after {
    content: "";
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #111111;
    position: absolute;
    right: 0;
    top: -7px;
    transition: 300ms all;
}
#sidebar aside .menu-title div.menu-bar span::after {
    top: inherit;
    bottom: -7px;
    transition: 300ms all;
}
#sidebar aside ul.menu {
    width: 100%;
    padding: 0;
    height: calc(100% - 46px);
    overflow-y: auto;
}
#sidebar aside ul.menu::-webkit-scrollbar {
    width: 0;
}
#sidebar aside ul.menu .active:not(i) {
    background-color: #1457D7;
}
#sidebar aside ul.menu li {
    width: 100%;
    color: white;
    transition: 300ms background-color;
    cursor: pointer;
    text-transform: capitalize;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 0.3s ease-in-out;
    margin: 5px 0;
    padding: 2px 0px;
    transition-delay: 0.1s;
}
#sidebar aside ul.menu li i {
    margin-right: 17px;
    font-size: 20px;
}
#sidebar aside ul.menu li span{
    line-height: 15px;
}
#sidebar.responsive  li .fa-caret-right{
    display: none !important;
}
#sidebar aside ul.menu li a {
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: flex-end;
    position: relative;
    transition: 300ms all;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#sidebar.responsive aside ul.menu li a span{
    display: none;
}
#sidebar aside ul.menu li a > .fa-caret-right {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
    transition: 300ms transform;
}
#sidebar aside ul.menu li.active a {
    color: white;
    padding: 15px;
}

#sidebar aside ul.menu li.active a > .fa-caret-right {
    transform: rotate(-90deg);
}
#sidebar aside ul.menu li:hover {
    background-color: #1457D7;
    width: calc(100% - 50px);
    margin-left: 50px;
    transition: 500ms all;
}
#sidebar aside ul.menu li.active {
    background-color: #1457D7;
    width: calc(100% - 50px);
    margin-left: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#sidebar aside ul.menu li.from a {
    color: white;
    padding: 15px;
}

#sidebar aside ul.menu li.from a > .fa-caret-right {
    transform: rotate(-90deg);
}
#sidebar aside ul.menu li.from {
    width: calc(100% - 50px);
    margin-left: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #1457D7;
}
#sidebar aside ul.menu ul li.from {
    background-color: #111111;

}
#sidebar.responsive aside ul.menu li{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 16.25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar.responsive aside ul.menu li i{
    margin: 0;
}
#sidebar aside ul.menu li:hover a {
    color: white;
    padding: 15px;
}
#sidebar aside ul.menu li ul {
    width: 100%;
    background-color: #111111;
    display: none;
    padding: 0;
    border-bottom-left-radius: 20px;
}
#sidebar aside ul.menu li.active ul{
    background-color: #1457D7;
}
#sidebar aside ul.menu li.active ul a{
    font-size: 17px;
}
#sidebar aside ul.menu li.active ul i{
    font-size: 17px;
}
#sidebar aside ul.menu li.from ul{
    background-color: white;
}
#sidebar aside ul.menu li.from ul a{
    font-size: 17px;
}
#sidebar aside ul.menu li.from ul i{
    font-size: 17px;
}
#sidebar aside ul.menu li ul li:hover {
    background-color: #111111;
}
#sidebar aside ul.menu li ul li:hover a {
    color: white;
}
#sidebar aside ul.menu li ul li a {
    color: white;
}

#sidebar footer {
    width: 100%;
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.44);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms height;
}
#sidebar footer p {
    color: #ffffffa8;
    text-align: center;
    display: block;
    transition: 250ms all;
    text-decoration: none;
    cursor:pointer;
    margin-bottom: 7px;
}
#sidebar.responsive footer p{
    display: none;
}
#sidebar footer a {
    color: #ffffffa8;
}
#sidebar footer a:hover {
    text-decoration: none;
    color: white;
}
#content {
    padding: 20px;
    width: calc(100vw - 240px);
    transition: 300ms width;
    height: 100%;
    max-height: 100%;
    overflow: hidden auto;
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
    background-size: 170px;
}
.close-menu #sidebar {
    width: 50px;
    overflow-x: hidden;
}
.close-menu #sidebar a > .fa-caret-right {
    opacity: 0;
}
.close-menu #sidebar .menu-title > .menu-bar > span::before, .close-menu #sidebar .menu-title > .menu-bar > span::after {
    height: 4px;
    border-radius: 2px;
    width: 15px;
    transform: rotate(45deg);
    top: -4px;
    right: -3px;
}
.close-menu #sidebar .menu-title > .menu-bar > span::after {
    transform: rotate(-45deg);
    bottom: -4px;
    top: inherit;
}
.close-menu #sidebar aside {
    height: 100%;
}
.close-menu #sidebar footer {
    height: 0;
    overflow: hidden;
}


main{
    margin-top: 13vh;
    margin-left: calc(320px + 3vh);
    margin-right: 3vh;
    padding: 3vh;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px #00000026;
    transition: 600ms all;
}
main.responsive{
    margin-left: calc(82.5px + 3vh);
}
main .main-head h2{
    font-size: 30px;
    font-weight: 400;
    position: relative;
    padding-bottom: 3px;
}
main .main-head {
    margin-bottom: 25px;
}
main .main-head h2:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: #111111;
}

@media only screen and (max-width: 900px) {
    #sidebar.responsive {
        position: fixed;
        width: 0;
        height: 0;
        top: -100vh;
        left: -100vw;
    }
    #sidebar{
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
    .headerLogo  i{
        display: block;
    }
    header{
        width: 100%;
    }
    main{
        width: calc(100% - 6vh);
        margin-left: 3vh;
    }
    header.responsive{
        width: 100%;
    }
    main.responsive{
        width: calc(100% - 6vh);
        margin-left: 3vh;
    }
    header .headerRight h2{
        font-size: 3.5vw;
    }
    header .headerRight h2 i{
        margin-right: 1vw;
    }
}
table.dataTable.cell-border tbody tr:first-child th, table.dataTable.cell-border tbody tr:first-child td{
    max-width: 310px;
    overflow: hidden;
}
